:root {
  --logo-color: #5d5d6d;
  --bg-primary: #f0f0f5;
  --bg-secundary: #f3f5f6;
  --text-dark: #737380;
  --text-dark-2: #41414d;
  --shapes-dark: #09090a;
  --red-color: #de3838;
  --orange-low: #ffa585;
  --shapes: #dce2e6;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
